NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=XXXXXXX
CLOUDINARY_API_KEY=XXXXXXX
CLOUDINARY_API_SECRET=XXXXXXXX

# Staging
SUPABASE_URL=XXXXXXX
SUPABASE_PUBLISHABLE_KEY=XXXXXXX

# Producción (Gosmel DB)
NEXT_PRODUCTION_SUPABASE_URL=XXXXXXX
NEXT_PRODUCTION_SUPABASE_PUBLISHABLE_KEY=XXXXXXX

NEXT_PUBLIC_USE_MOCK_DATA=false